.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 24px;
    border-radius: 8px;
    max-width: 1000px;
    margin: 28px 56px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 24px 0;
}

.title{
    margin: 0 0 24px 0;
}

.headerBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}
